

.newsList{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 50px 100px;
}
.newsItem{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.image{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img{
    width: 400px;
    height: 250px;
}
.text{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
.text h2{
    font-size: 25px;
    font-weight: 900;
}
.text p{
    font-size: 21px;
    font-weight: 400;
}
.text h6{
    font-size: 16px;
    font-weight: 200;
    color: aqua;
}

@media(max-width:1350px){
    .newsList{
        padding:50px 70px ;
    }
}
@media(max-width:1200px){
    .newsList{
        padding:50px 20px ;
    }
    .image img{
        width: 350px;
    height: 200px;
    }
}
@media(max-width:1100px){
    .newsItem{
        flex-direction: column;
    }
    .image{
        width: 100%;
    }
    .image img{
        width: 600px;
        height: 400px;
    }
    .text{
        width: 100%;
        padding: 20px;
    }
}
@media(max-width:700px){
    .image img{
        width: 550px;
        height: 350px;
    }
    .text{
        padding: 10px;
    }
    .text h2{
        font-size: 23px;
        font-weight: 800;
    }
    .text p{
        font-size: 18px;
        font-weight: 300;
    }
    .text h6{
        font-size: 14px;
        font-weight: 100;
       
    }
}
@media(max-width:600px){
    .image img{
        width: 500px;
        height: 300px;
    }
}
@media(max-width:500px){
    .image img{
        width: 450px;
        height: 250px;
    }
    .text{
        padding: 5px;
    }
}
@media(max-width:450px){
    .image img{
        width: 350px;
        height: 200px;
    }
    .text h2{
        font-size: 20px;
        font-weight: 700;
    }
    .text p{
        font-size: 17px;
        font-weight: 200;
    }
    .text h6{
        font-size: 13px;
        font-weight: 100;
       
    }
}